<form method="post" action="/post" class="well form-inline center" style="text-align:center;">
    <div class="col-md-8">
        <input type="text" class="form-control" id="post" name="post">
    </div>
    <div class="col-md-4">
        <button type="submit" class="btn btn-success"><i class="icon-comment icon-white"></i> 发言</button>
    </div>
</form>