<form method="post" action="/post" class="well">
    <div class="form-group" style="margin-bottom:31px">
        <div class="col-md-offset-2 col-md-6">
            <input type="text" class="form-control" id="post" name="post">
        </div>
        <div class="col-md-4">
            <button type="submit" class="btn btn-success"><i class="icon-comment icon-white"></i> 发言</button>
        </div>
    </div>
</form>